.container{width:50%;margin-left: 40%;}
.first{color: red;font-size: 30px;font-style: oblique;font-weight: 100;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: italic;}
.second{color: red;font-size: 30px;font-style: oblique;font-weight: 100;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: italic;}
.conone{border: 10px solid black;}
.third{border: 10px solid black;}
.third a:hover{color: red;}
.Scientificname{font-size: 20px;}
.name{font-size: 20px;}


/* styling sidebar */
.sidehoverbar a {
    background-color: grey;
    position: absolute;
    font-size: 20px;
    text-decoration: none;
    Color: white;
    padding: 10px;
    border-radius: 0px 25px 25px 0px;
    left: -190px;
    transition: 0.5s;
    opacity: 0.8;
  }
    
  /* Hover effect on sidebar */
  .sidehoverbar a:hover {
    left: 0px;
    opacity: 1;
    background-color: #4CAF50;
    
  }
    
  /* float icons*/
  .sidehoverbar i {
    float: right;
  }
    
  /* defining position of each nav bar */
  .home {
    top: 50px;
    width: 210px;
    height: 30px;
  }
    
  .about {
    top: 110px;
    width: 210px;
    height: 30px;
  }
    
  .useful {
    top: 170px;
    width: 210px;
    height: 30px;
  }
    
  .gallery {
    top: 230px;
    width: 210px;
    height: 30px;
  }
    
  .categories {
    top: 290px;
    width: 210px;
    height: 30px;
  }
  
  .glossary {
    top: 350px;
    width: 210px;
    height: 30px;
  }
  
  .contact {
    top: 410px;
    width: 210px;
    height: 30px;
  }
  
    
  /* content margin */
  .hoverable-topic {
    margin-left: 55px;
  }
  
  
  
  .header {
    overflow: hidden;
    background-color: #36a327;
    padding: 20px 10px;
  }
  /* Style the header links */
  .header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
  }
  
  .header1{display: block;
    color: #000;
    font-size: 13px;}
  .header2{display: block;
    color: #000;
    font-size: 14px;
    font-weight: bold;}
  .header3{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;}
  
  .menubutton{float: left;}

